In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns
import plotly.express as px
import os

In [2]:
os.listdir('data')

['pokemon.csv',
 'products.csv',
 'road_accident.csv',
 'Salary_Data.csv',
 'weather.csv']

In [3]:
df = pd.read_csv('data/weather.csv')
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df = pd.read_csv('data/products.csv')
df.head()

,Unnamed: 0,Product name,prices,ratings
0,0,HP 14s Ryzen 3 Quad Core 4300U - (8 GB/512 GB ...,"₹39,490",4.5
1,1,Lenovo ThinkPad E14 Gen2 Ryzen 5 Hexa Core 465...,"₹53,990",4.5
2,2,HP 15s Athlon Dual Core - (4 GB/1 TB HDD/Windo...,"₹27,490",4.1
3,3,HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...,"₹41,990",4.5
4,4,Lenovo IdeaPad 3 Core i5 10th Gen - (8 GB/1 TB...,"₹44,990",4.0

In [7]:
df

,Unnamed: 0,Product name,prices,ratings
0,0,HP 14s Ryzen 3 Quad Core 4300U - (8 GB/512 GB ...,"₹39,490",4.5
1,1,Lenovo ThinkPad E14 Gen2 Ryzen 5 Hexa Core 465...,"₹53,990",4.5
2,2,HP 15s Athlon Dual Core - (4 GB/1 TB HDD/Windo...,"₹27,490",4.1
3,3,HP 14s Core i3 11th Gen - (8 GB/256 GB SSD/Win...,"₹41,990",4.5
4,4,Lenovo IdeaPad 3 Core i5 10th Gen - (8 GB/1 TB...,"₹44,990",4.0
5,5,HP Pavilion Gaming Ryzen 5 Quad Core 3550H - (...,"₹50,990",4.2
6,6,ASUS VivoBook 15 Core i3 10th Gen - (8 GB/1 TB...,"₹37,990",4.1
7,7,ASUS Ryzen 5 Quad Core 3500U - (8 GB/1 TB HDD/...,"₹41,990",3.9
8,8,acer Aspire 7 Ryzen 5 Quad Core 3550H - (8 GB/...,"₹50,990",4.5
9,9,HP 15s Ryzen 3 Dual Core 3250U - (8 GB/1 TB HD...,"₹36,990",4.2
10,10,ASUS Vivobook Gaming Core i5 9th Gen - (8 GB/5...,"₹54,990",4.4
11,11,acer Aspire 7 Ryzen 5 Quad Core 3550H - (8 GB/...,"₹51,990",4.4
12,12,HP Pentium Quad Core - (8 GB/256 GB SSD/Window...,"₹31,490",4.3
13,13,Avita Cosmos 2 in 1 Celeron Dual Core - (4 GB/...,"₹17,990",4.1
14,14,HP 15s Core i3 11th Gen - (8 GB/1 TB HDD/Windo...,"₹42,490",4.1
15,15,ASUS ROG Zephyrus G14 Ryzen 9 Octa Core 4900HS...,"₹1,08,990",4.3
16,16,HP 14s Core i3 11th Gen - (8 GB/512 GB SSD/Win...,"₹47,990",4.4
17,17,APPLE MacBook Air M1 - (8 GB/256 GB SSD/Mac OS...,"₹92,900",4.7
18,18,HP 15s Ryzen 3 Dual Core 3250U - (8 GB/1 TB HD...,"₹41,990",4.4
19,19,MSI Modern 14 Ryzen 5 Hexa Core 4500U - (8 GB/...,"₹51,990",4.5
20,20,MSI Modern 14 Core i3 11th Gen - (8 GB/512 GB ...,"₹46,990",4.5
21,21,HP Pavilion Gaming Ryzen 5 Quad Core 3550H - (...,"₹56,990",4.5
22,22,ASUS Ryzen 3 Dual Core - (4 GB/256 GB SSD/Wind...,"₹32,990",4.3
23,23,Lenovo IdeaPad Gaming 3 Ryzen 7 Octa Core 4800...,"₹67,990",4.3